.naming-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30vh;
  left: 25vw;
  height: 50vh;
  width: 50vw;
  gap: 8vh;
  background: white;
  border-radius: 1.2vh;
  z-index: 20;
  box-sizing: border-box;
  padding: 4vh;
}

.naming-btn-wrapper {
  display: flex;
  height: 6vh;
  width: 80%;

  justify-content: space-between;
}

.naming-modal-btn-1 {
  color: white;
  background: #60b84b;
  border: none;
  width: 45%;
  font-size: 1vw;
  border-radius: 2vh;
  cursor: pointer;
}
.naming-modal-btn-2 {
  color: black;
  width: 45%;
  background-color: white;
  border-radius: 2vh;
  cursor: pointer;
  border: none;
  font-size: 1vw;
}

.select-type {
  color: white;
  background: #60b84b !important;
}

.quiz-name-input {
  width: 80%;
  border: none;
  border-radius: 2vh;
  background-color: white;
  height: 8vh;
  padding: 1vh 2vh;
  color: #9f9f9f;
  font-weight: 500 !important;
  outline: none;
}

.quiz-name-input::placeholder {
  color: #9f9f9f;
}

.type-selection-box {
  display: flex;
  width: 80%;
  color: #9f9f9f;
  justify-content: space-around;
  font-weight: 500 !important;
}

.text-1 {
  font-size: 1.5vw;
}

.btn-quiz-type-1 {
  font-size: 1.5vw;
  background-color: white;
  width: 25%;
  border-radius: 0.9vh;
  text-align: center;
  cursor: pointer;
}

.active-shadow {
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
}
