.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  height: 70%;
  background-color: white;
  padding: 2em;
  box-shadow: 0px 0px 30px 0 rgba(0, 0, 0, 0.15);
  border-radius: 2vh;
}

.logo {
  color: #474444;
  font-family: "Jomhuria", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16vh;
}

.tab-bar {
  display: flex;
  gap: 10vh;
  justify-content: space-evenly;
  width: 50%;
  padding: 2vh;
}

.btn {
  color: #474444;
  padding: 0.5vh;
  width: 40%;
  height: 6vh;
  background: white;
  border-radius: 2vh;
  border: none;
  cursor: pointer;
}

.active-btn {
  box-shadow: 0px 0px 50px 5px rgba(0, 25, 255, 0.24);
}

.form-cont {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.input-div {
  display: flex;
  gap: 5vh;
  height: 6vh;
  padding: 1.5vh;
}

.input-div > label {
  color: #474444;

  padding: 0.5vh;
}

.poppin-text {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 3vh;
}

.input-div > input {
  border-radius: 2vh 2vh 0px 0px;
  height: 5vh;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  outline: none;
  border: 1px solid #f4f4f4;
  padding: 5px 10px;
  font-size: 2.2vh;
  background-color: #f4f4f4;
  width: 20vw;
}

.error-text {
  color: #d60000;
  outline: 2px solid #d60000 !important;
}

.submit-btn {
  background: #a9bcff;
  color: #474444;
  width: 40%;
  border-radius: 1vh;
  margin: 3vh 2vh;
  border: none;
  cursor: pointer;
}

.loader {
  width: 2vh;
  height: 2vh;
  border: 2px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin-left: 5px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
