* {
  margin: 0px;
  padding: 0px;
}

.bg-main {
  background-color: #f2f2f2;
  height: 100vh;
  width: 100vw;
}

.flex-box-row {
  display: flex;
}

.flex-box-col {
  display: flex;
  flex-direction: column;
}

/* Helper css */
.border-app {
  border: 2px solid red;
}

/* thin scrollbar */
.scrollable-element {
  scrollbar-width: thin;
  scrollbar-color: gray;
}
