.creating-quiz-modal {
  display: flex;
  position: absolute;
  flex-direction: column;
  background-color: white;
  height: 90vh;
  left: 25vw;
  width: 50vw;
  z-index: 20;
  box-sizing: border-box;
  padding: 4vh 10vh;
  border-radius: 2vh;
}

.quiz-question-input {
  width: 95%;
  border: none;
  border-radius: 2vh;
  background-color: white;
  height: 5vh;
  padding: 1vh 2vh;
  color: #9f9f9f;
  font-weight: 500 !important;
  outline: none;
  font-size: 1.2vw;
  margin-top: 4vh;
}

.quiz-question-input::placeholder {
  color: #9f9f9f;
}

.question-nav-bar {
  display: flex;
  justify-content: space-between;
}

.question-bar {
  color: #9f9f9f;
  display: flex;
  width: 75%;
  gap: 4vh;
}

.question-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
  height: 8vh;
  width: 8vh;
  cursor: pointer;
  font-weight: 500 !important;
}

.cross-btn {
  position: absolute;
  top: 5px;
  cursor: pointer;
  right: 3px;
}

.max-question-text {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 40%;
  font-size: 1.2vw;
  font-weight: 500 !important;
  color: #9f9f9f;
}

.option-type-selection-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: #9f9f9f;
  margin-top: 4vh;
  font-weight: 500 !important;
  font-size: 1.2vw;
}

.radio-btn {
  width: 1.2vw;
  height: 1.2vw;
  margin: 0px 0.5vw;
  accent-color: black;
}

.createquiz-btn-wrapper {
  display: flex;
  height: 6vh;
  width: 100%;

  box-sizing: border-box;
  justify-content: space-between;
}

.createquiz-modal-btn-1 {
  color: white;
  background: #60b84b;
  border: none;
  width: 45%;
  font-size: 1.2vw;
  border-radius: 2vh;
  cursor: pointer;
}

.createquiz-modal-btn-2 {
  color: black;
  width: 45%;
  background-color: white;
  border-radius: 2vh;
  cursor: pointer;
  border: none;
  font-size: 1.2vw;
}

.add-question-logo {
  cursor: pointer;
}
