.main-cont-modal {
  position: absolute;
  width: 100vw;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  background-color: black;
  opacity: 81%;
}

.sharing-modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4vh;
  align-items: center;
  top: 30vh;
  left: 25%;
  background-color: white;
  height: 40vh;
  width: 50%;
  border-radius: 2vh;
  padding: 2vw;
}

.congratulation-text {
  font-size: 2vw;
  width: 45%;
  line-height: 1.5em;

  text-align: center;
}

.sharing-btn-wrapper {
  display: flex;
  height: 6vh;
  width: 80%;
  justify-content: center;
}

.sharing-modal-btn {
  color: white;
  background: #60b84b;
  border: none;
  width: 45%;
  font-size: 1vw;
  border-radius: 2vh;
  cursor: pointer;
}

.active {
  box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.25);
}

.link-text-div {
  background: #ededed;
  color: #474444 !important;
  font-weight: 600 !important;
  width: 80%;
  padding: 0.5vw;
  border-radius: 0.4em;
  border: none;
}

.sharing-cross-btn {
  position: absolute;
  top: 2vh;
  right: 2vh;
  height: 1.4vw;
  width: 1.4vw;
  cursor: pointer;
}
