.completion-cont {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vw;
  font-weight: 700 !important;
}

.congrats-text {
  font-size: 2vw;
}

.score-text {
  font-size: 2vw;
}

.trophy-img {
  margin-left: 2vh;
  width: 50%;
  height: 60%;
}

@media only screen and (max-width: 768px) {
  .congrats-text {
    font-size: 8vw;
    text-align: center;
  }

  .trophy-img {
    margin-left: 1vh;
    width: 100%;
    height: 60%;
  }

  .score-text {
    font-size: 6vw;
  }
}
