.main-cont-analysis {
  margin-left: 2vh;
  width: 90%;
  height: 90vh;
}

.heading-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-box {
  font-size: 1vw;
}

.questions-cont {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 6vh;
  height: 80%;
  margin-top: 2vh;
  width: 100%;

  overflow: auto;
}

.question-box {
  height: 35vh;
  padding-bottom: 6vh;
  width: 80%;
  border-bottom: 2px solid #d7d7d7;
}

.question {
  color: black;
  font-weight: 500 !important;
  font-size: 2vw;
}

.question-analytics-box {
  display: flex;
  margin-top: 4vh;
  width: 100%;
  gap: 2vw;
  justify-content: start;
}

.analytics-box {
  display: flex;
  flex-direction: column;
  gap: 0.4vw;
  background-color: white;
  border-radius: 1.2vh;
  width: 30%;
  padding: 0.5vw;
  height: 15vh;
}

.numerical-text {
  font-size: 2vw;
}

.text-2 {
  font-size: 1vw;
}

.analytics-box-poll {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.4vw;
  background-color: white;
  border-radius: 1.2vh;
  width: 20%;
  padding: 0.5vw;
  height: 15vh;
}

.poll-options-box {
  width: 60%;
}

.poll-analysis-option-value-box {
  width: 100% !important;
  font-size: 0.8vw !important;
  padding: 0.4vw;
}
