.poll-completion-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  font-weight: 700 !important;
  font-size: 4vw;
}

.poll-completion-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: 80%;
  height: 60%;
}
